.container {
    width: 300px;
    margin: 50px;
}

/* 主框样式 */
.main-box {
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
    position: relative;
    /* z-index: 10; */
}

.main-box:hover {
    background-color: #45a049;
}




/* 子框容器 */
.sub-boxes {
    overflow: hidden;
    /* height: 500px; */
    /* height: 0; */
    max-height: 0;
    /* transition: max-height 0.5s ease-out; */
}



/* 子框样式 */
.sub-box {
    background-color: #981919;
    font-size: 30px;
    padding: 12px;
    margin-top: 4px;
    border-radius: 0 0 6px 6px;
    transition: transform 2s, opacity 2s;
    transform: translateY(-10px);
    /* opacity: 0; */
}

/* 鼠标悬停主框时显示子框 */
.container:hover .sub-boxes {
    max-height: 500px;
    /* 足够大的值以容纳所有子框 */
    /* transition: max-height 0.5s ease-in; */
}

/* 子框展开动画 */
.container:hover .sub-box {
    transform: translateY(0);

    opacity: 1;
}

.sub-box:nth-child(1) {
    transition-delay: 0.1s;
}

.sub-box:nth-child(2) {
    transition-delay: 0.2s;
}

.sub-box:nth-child(3) {
    transition-delay: 0.3s;
}