* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: paleturquoise;
}

.zzy div h2 {
    text-align: center;
}

.zzy div input {
    height: 30px;
    width: 200px;
    border-radius: 10px;
}

.zzy .denglu input {
    background: linear-gradient(45deg, rgb(202, 24, 8), rgb(234, 246, 8))
}

.zzy .mima input {
    margin-top: 8px;
}